<div class="game-grid-header">
  <%# <h2>Choose from 20+ PC and Console Games!</h2> %>
</div>
<div class="row1 d-flex">
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.1.png") %>)">
    <%# <%= image_tag 'row1.1'%>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.2.png") %>)">
    <%# <%= image_tag 'row1.2' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.3.png") %>)">
    <%# <%= image_tag 'row1.3' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.4.png") %>)">
    <%# <%= image_tag 'row1.4' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.5.png") %>)">
    <%# <%= image_tag 'row1.5' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.6.png") %>)">
    <%# <%= image_tag 'row1.6' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row1.7.png") %>)">
    <%# <%= image_tag 'row1.7' %>
  </div>
</div>
<div class="row2 d-flex">
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.1.png") %>)">
    <%# <%= image_tag 'row2.1' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.2.png") %>)">
    <%# <%= image_tag 'row2.2' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.3.png") %>)">
    <%# <%= image_tag 'row2.3' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.4.png") %>)">
    <%# <%= image_tag 'row2.4' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.5.png") %>)">
    <%# <%= image_tag 'row2.5' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.6.png") %>)">
    <%# <%= image_tag 'row2.6' %>
  </div>
  <div class="grid-element col game-grid-img" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("row2.7.png") %>)">
    <%# <%= image_tag 'row2.7' %>
  </div>

</div>
