<div class="cover-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("cover-background.jpg") %>)">
  <div class="profile_container">
    <div class="avatar_container">
      <img src="<%= asset_path("luffy_avatar.png") %>" alt="" class="avatar_container_image">
    </div>
    <div class="profile_details">
      <span class="profile_details_gamertag">Rodney Johnson</span>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="container-fluid">
    <div class="d-flex">
      <h2 class="mb-5 text-white">Gaming Statistics</h2>
      <h4 class="mb-5 text-white ml-3">last 7 days</h4>
    </div>
    <div class="header-body">
      <div class="row d-flex">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total kills</h5>
                  <span class="h2 font-weight-bold mb-0">57</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Kill-Death Ratio</h5>
                  <span class="h2 font-weight-bold mb-0">1.12</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Kill-Death Ratio</h5>
                  <span class="h2 font-weight-bold mb-0">1.12</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <%# <%= @time_played %>
  <%# <%= @kd_ratio %>
  <%# <%= @kills %>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Time-Played</h5>
                  <span class="h2 font-weight-bold mb-0"> 7.3</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <h2 class="mb-5 text-white">Active Bets</h2>
        <%# NEW BET DISPLAY %>
        <div class="row">
          <% @bets.each do |bet| %>
          <% if bet.completion == nil %>
          <div class="col-lg-4">
              <div class="bet-wrapper-tile">
                <div class="bet-wrapper-tile-text">
                  <%# <div class="grouptext d-flex justify-content-between"> %>
                    <h2><%= bet.challenge.title %></h3>
                    <%# modal %>
                    <div class="results-btn">
                      <%= render 'shared/modal-bet', bet: bet %>
                    </div>
                  <%# </div> %>
                  <h3><%= bet.challenge.description %></h3>
                  <h2>£<%= bet.payout %></h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>


  <div class="container py-5">
    <h2 class="mb-5 text-white">Completed Bets</h2>
        <%# NEW BET DISPLAY %>
        <div class="row">
          <% @bets.each do |bet| %>
          <% if bet.completion == true || bet.completion == false %>
          <div class="col-lg-4">
            <% if bet.completion == true %>
            <div class="winner">
              <% else %>
              <div class="loser">
              <% end %>
                <div class="bet-wrapper-tile">
                  <div class="bet-wrapper-tile-text">
                    <div class="grouptext d-flex justify-content-between">
                      <h2><%= bet.challenge.title %></h3>
                    </div>
                    <h3><%= bet.challenge.description %></h3>
                    <h2>£<%= bet.payout %></h3>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>






</div>



<%# OLD BET DISPLAY %>
