<div class="home">
  <%# carousel/searchbar %>
  <div>
  <div class="d-flex justify-content-center car-margin">
    <div class="shade">
      <div id="carousel co-12 col-sm-6 col-md-4">
        <%= render 'shared/carousel' %>
      </div>
  </div>
    <div class="call-to-action container">
      <h2>Play Games, Win Cash</h2>
      <p>View your recent stats and complete daily challenges for cash rewards</p>
      <a href="#" class="btn btn-primary">Start your first bet here!</a>
    </div>
    </div>
  </div>
</div>

<%# gamegrid %>
<div class="d-flex justify-content-center">
  <div class="game-grid">
      <%= render 'shared/game-grid' %>
  </div>
</div>

<%# challenges %>
<div class="challenges container d-flex justify-content-between">
  <div class="halo-home">
    <%= image_tag "halo.png", alt: "alttext", class: "halo-img"%>
  </div>
  <div class="challenge-cards">
    <div class="d-flex justify-content-center">
      <h3>Pick your challenge!</h3>
    </div>
    <%= render 'shared/card-headshot' %>
    <%= render 'shared/card-goal' %>
    <%= render 'shared/card-killstreak' %>
  </div>
  <div class="fifa-home">
    <%= image_tag "fifa-grp.png", alt: "alttext", class: "fifa-img"%>
  </div>
</div>


<div class="container gameplay d-flex">
  <div class="d-flex justify-content-center">
    <div class="game1 d-flex align-items-center"> <%# Not working %>
      <%= image_tag "gameplay1.png", alt: "alttext", class: "gameplay-img"%>
      <div>
        <h3>Earn while you play</h3>
        <p>Cash in on your favourite games</p>
      </div>
    </div>
  </div>
</div>
<div class="container gameplay d-flex">
  <div class="d-flex justify-content-center">
    <div class="game2 d-flex align-items-center"> <%# Not working %>
      <div>
        <h3>Play it, bet it!</h3>
        <p>MVGAMER has ways for everyone to win</p>
      </div>
      <%= image_tag "gameplay2.png", alt: "alttext", class: "gameplay-img"%>
    </div>
  </div>
</div>
<div class="container gameplay d-flex ">
  <div class="d-flex justify-content-center">
    <div class="game3 d-flex align-items-center"> <%# Not working %>
      <%= image_tag "gameplay3.png", alt: "alttext", class: "gameplay-img"%>
      <div>
        <h3>Track your skills</h3>
        <p>Whatever game you play, track your latest stats and check out ways to improve! </p>
      </div>
    </div>
  </div>
</div>
