<div class="home">
  <div class="container">
    <div class="banner d-flex justify-content-center">
      <h1>MVGamer</h1>
      <%= image_tag "logo.png", alt: "alttext", class: "logo-home"%>
        <div class="account-info">
          <a href="#">Create account</a>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>

  <%# carousel/searchbar %>
  <div>
    <div class="shade">
      <div id="carousel">
        <%= render 'shared/carousel' %>
      </div>
    </div>
    <div class="call-to-action container">
      <h2>Play Games, Win Cash</h2>
      <p>View your recent stats and complete daily challenges for cash rewards</p>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group w-100">
        <input class="home-form form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="home-btn btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%# gamegrid %>
<div class="d-flex justify-content-center">
  <div class="game-grid">
      <%= render 'shared/game-grid' %>
  </div>
</div>

<%# challenges %>
<div class="challenges container d-flex justify-content-between">
  <div class="halo-home">
    <%= image_tag "halo.png", alt: "alttext", class: "halo-img"%>
  </div>
  <div class="challenge-cards">
    <div class="d-flex justify-content-center">
      <h3>Pick your challenge!</h3>
    </div>
    <%= render 'shared/card-headshot' %>
    <%= render 'shared/card-goal' %>
    <%= render 'shared/card-killstreak' %>
  </div>
  <div class="fifa-home">
    <%= image_tag "fifa-grp.png", alt: "alttext", class: "fifa-img"%>
  </div>
</div>


<div class="container gameplay d-flex flex-column">
  <div class="d-flex justify-content-center">
    <div class="game1"> <%# Not working %>
      <%= image_tag "gameplay1.png", alt: "alttext", class: "gameplay-img"%>
      <h3>Earn while you play</h3>
      <p>Cash in on your favourite games</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="game2"> <%# Not working %>
      <%= image_tag "gameplay2.png", alt: "alttext", class: "gameplay-img"%>
      <h3>Play it, bet it!</h3>
      <p>MVGAMER has ways for everyone to win</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="game3"> <%# Not working %>
      <%= image_tag "gameplay3.png", alt: "alttext", class: "gameplay-img"%>
      <h3>Track your skills</h3>
      <p>Whatever game you play, track your latest stats and check out ways to improve! </p>
    </div>
  </div>
</div>
