<div class="cover-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(<%= asset_path("cover-background.jpg") %>)">
  <div class="profile_container">
    <div class="avatar_container">
      <img src="<%= asset_path("luffy_avatar.png") %>" alt="" class="avatar_container_image">
    </div>
    <div class="profile_details">
      <span class="profile_details_gamertag">Rodney Johnson</span>
    </div>
  </div>
</div>
<div class="container py-5 d-flex">
  <div class="statistics-kills">
    <%= area_chart @sum_kills, xtitle: "Game", ytitle: "Number of Kills", width: "500px", height: "300px", download: true %>
  </div>

  <div class="statistics-kills">
    <%# <%= pie_chart [["Resurgence Quads", @resurgence_quads], ["Resurgence Trios", @resurgence_trios], ["Plunder Quads", @plunder_quads]]%>
    <%= pie_chart [["Resurgence Quads", 37], ["Resurgence Trios", 13], ["Plunder Quads", 22]]%>
  </div>
</div>
<div class="container py-5">
  <%# , height: "250px" %>
  <%# <%= area_chart @data["matches"].group_by_day(:created_at).count %>
  <%# <%= Chartkick.ColumnChart(@sum_kills) %>
  <table class="table table-striped table-dark table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">placement</th>
        <th scope="col">kills</th>
        <th scope="col">deaths</th>
        <th scope="col">kd-ratio</th>
        <th scope="col">damage-dealt</th>
        <th scope="col">damage-taken</th>
      </tr>
    </thead>
    <tbody>
      <% @match_details.each do |match|  %>
        <tr>
            <th scope="row"><%= match[0] += 1 %></th>
            <td><%= match[1] %></td>
            <td><%= match[2] %></td>
            <td><%= match[3] %></td>
            <td><%= match[4].to_f.round(2) %></td>
            <td><%= match[5] %></td>
            <td><%= match[6] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
