<div class="container py-5">
  <%# <%= area_chart Challenge.group_by_day(:created_at).count%>
  <div class="row">
    <% @challenges.each do |challenge| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to challenge_path(challenge), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= asset_path("warzone-background.jpg") %>)">
            <%= challenge.title %>
            <%= challenge.description %>
            <%= challenge.odds %>
            <button class="btn btn-primary">Play now!</button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
