<div class="container">

  <div class="show-header">
    <h1>Challenge summary</h1>
  </div>

  <div class="challenge-body d-flex ">
    <div class="left" data-controller="bet-form-input">
      <div class="container">
        <h2 class="bet-title"><%= @challenge.title %></h2>
        <h5 class="bet-description"><%= @challenge.description %></h5>
        <div class="">
          <div>

            <%= render 'shared/form-bet' %>
          </div>
        </div>
      </div>


      <%# <%= simple_form_for [@challenge, @bet] do |f| %>
      <%# raise %>

        <%# <%= f.input :wager, placeholder: "wager", collection: [5, 10, 20], as: :radio_buttons %>

        <%# <%= <p>wager</p> %>

        <%# <%= f.submit class: 'btn btn-flat' %>
      <%# <% end %>

  </div>
  <div class="right">
    <%= image_tag "warzone-photo.png", alt: "alttext", class: "warzone-challenge-img"%>
  </div>

</div>
