<div class="container">

  <div class="show-header">
    <h1>Challenge summary</h1>
  </div>

  <div class="challenge-body">
    <div class="left" data-controller="bet-form-input">
      <h2><%= @challenge.title %></h2>
      <h4>Description:</h4>
      <h5><%= @challenge.description %></h5>
      <h4>Wager:</h4>

     <%= render 'shared/form-bet' %>

      <%# <%= simple_form_for [@challenge, @bet] do |f| %>
        <%# <%= f.input :wager, placeholder: "wager", collection: [5, 10, 20], as: :radio_buttons %>

        <%# <p>wager</p> %>

        <%# <%= f.submit class: 'btn btn-flat' %>
      <%# <% end %>




    <div class="right">
      <%= image_tag "warzone-photo.png", alt: "alttext", class: "warzone-challenge-img"%>
    </div>
  </div>

</div>
